*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.bg{
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/bg.jpg') center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.bg button{
    padding: 10px;
    width: 50%;
    background-color: green;
    color: white;
    border: none;
}

.bg-greentext{
    word-spacing: 15px;
    font-size: 30px;
    color: green;
    font-style: italic;
}
.bg-whitetext{
    letter-spacing: 5px;
    font-size: 40px;
    color: white;
}

/* END OF HEADER */

/* FEATURES BEGIN */


.features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin: 30px; */
    flex-wrap: wrap;
    background-color: rgb(227, 238, 230);
}
.feature-topic{
    text-align: center;
}
.first-p{
    max-width: 17rem;
    margin: 0 auto;
    line-height: 25px;
}
@media screen and (min-width:576px) {

  .features{
    display: flex;
    flex-wrap: wrap;
  }  
  .icon{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 2rem);
    margin-bottom: 1rem;
  }
  .icon:hover{
    background-color: white;
    color: green;
  }
}
@media screen and (min-width:1170px) {
    .icon{
        width: 25%;
        flex: 0 0 calc(25% - 2rem);
    }
    .icon:hover{
        background-color: white;
        color: green;
      }
    
}

.features > div{
    /* width: 20%; */
    margin-left: 10px;
}
.icon > div{
    text-align: center;
    color: green;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.features p{
    text-align: justify;
    margin-top: 20px ;
}

/* END OF FEATURES */

/* BEGIN ABOUT US */

.about-us{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 500px; */
}

@media screen and (min-width:576px) {

    .about-us{
        display: flex;
        flex-wrap: wrap;
      } 
      
      .img-border{
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - 2rem);
        margin-bottom: 1rem;
      }
      .tea-station > button{
        width: 35%;
        padding: 10px;
    
       } 
      
}

@media screen and (min-width:1170px) {
    .img-border{
        width: 50%;
        flex: 0 0 calc(25% - 2rem);
    }
}

.about-us > div{
    width: 40%;
    margin-top: 100px;
    margin-left: 100px;
    /* padding: 0 30px; */
}
.about-us img{
    border: 10px solid green;
}
 /* .img-border{
    margin-top: 100px; 
    width: 50%;
    border: 10px solid green; 
} */
.img-border img{
    width: 100%;
} 
.about{
    text-align: justify;
    line-height: 30px;
    margin-top: 25px;
    margin-right: 20px;
}
.tea-station > button{
    margin-top: 20px;
    padding: 5px;
    width: 30%;
    letter-spacing: 3px;
    background-color: green;
    border: none;
    color: white;
}
.about-our{
    color: green;
    font-size: 30px;
    font-style: italic;
}
.station{
    letter-spacing: 5px;
    word-spacing: 20px;
    margin-top: 10px;
    font-size: 40px;
}

/* end of about section */

/* beginning of products */



.products{
    background-color: rgb(227, 238, 230);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    margin-top: 80px;
}
.products > div{
    width: 100%;
    padding: 20px;
}
.products img{
    width: 100%;
    height: 300px;
    border-radius: 9px;
}
.products button{
    margin-top: 20px;
    padding: 5px;
    width: 50%;
    letter-spacing: 3px;
    background-color: green;
    border: none;
    color: white;
}
@media screen and (min-width:576px) {

    .products{
      display: flex;
      flex-wrap: wrap;
    }  
    .products > div{
      width: 50%;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(50% - 2rem);
      margin-bottom: 1rem;
    }
    .icon:hover{
      background-color: white;
      color: green;
    }
  }
  @media screen and (min-width:1170px) {
      .products{
          width: 100%;
          flex: 0 0 calc(25% - 2rem);
      }
      .icon:hover{
          background-color: white;
          color: green;
        }
      
  }

.explore{
    text-align: center;
    padding-top: 50px;
    /* line-height: 10px; */
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 0 100px;
}
.services > div{
    width: 31%;
    background-color: rgb(227, 238, 230);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 0.5em grey;
    /* padding: 30px; */
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* margin: 0 auto; */
}
.services img{
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.services i{
    color: green;
    font-size: 35px;
    border:15px solid lightgreen;
    background-color: lightgreen;
    border-radius: 40px;
    
}
.services button{
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 5px;
    width: 30%;
    letter-spacing: 2px;
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.services button a{
    color: white;
    text-decoration: none;
    /* text-align: center; */
}
.services button a:hover{
    color: rgb(128, 160, 128);
    background-color: black;
}
.product-description{
    text-align: center;
    line-height: 25px;
}

.contact{
    margin-top: 100px;
    background-color: rgb(227, 238, 230);
}
.address-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.address-form > div,form{
    width: 100%;
    /* height: 340px; */
}
.address > p{
    color: green;
    margin-top: 20px;
    margin-bottom: 10px;
    /* margin-left: 10px; */
    letter-spacing: 5px;
}
.address > h4{
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 20px;
}
form{
    /* height: 359px; */
    border-radius: 10px;
    width: 100%;
    background-color: white;
    text-align: center;
}
form > input,textarea{
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(227, 238, 230);
    width: 80%;
    /* text-align: center; */
    /* margin-bottom: 20px; */
    padding: 10px;
}
form > h2{
    word-spacing: 10px;
    margin-top: 20px;
}
form > button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    color: white;
    background-color: green;
}

.black-footer{
    /* margin: 0 auto; */
    width: 100%;
    background-color: black;
}

#icon{
    /* margin-left: 200px; */
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 50px;
    /* padding: 10px; */
    display: flex;
}
.reserve{
    display: flex;
}
.reserve > p{
    word-spacing: 10px;
    letter-spacing: 10px;
}

